{% load static tailwind_tags %}
    {% tailwind_css %}


<div class="bg-gray-100">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
        <div class="max-w-4xl mx-auto mt-10 bg-white shadow-md rounded-lg p-8">
            
        <h1 class="text-xl font-bold text-gray-800 mb-6">ข้อมูลทั่วไป</h1>
        <label for="name">ชื่อสินค้า:</label>
        {{ form.name }}
            
        <label for="description">คำอธิบายสินค้า:</label>
        {{ form.description }}

        <label for="category">ประเภทสินค้า:</label>
        {{ form.category }}
    
    </div>
    
    
    <div>
        <label for="cover_image">รูปภาพหน้าปก:</label>
        {{ form.cover_image }}
    </div>
</form>
</div>
