{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CN Style Shop</title>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
</head>
<body class="bg-gray-200">
    {% include 'components/user/header.html' %}
    
    <main class="mt-18 px-8 pt-8">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>